/*columns*/
.columns{
	display: block;
	position: fixed;
	height: 90vh;
	max-height: 90vh;
	overflow: scroll;
	}
	
#LHS{
	max-width: 24vw;
	min-width: 24vw;
	transform: translate(1vw, 6vh);
	font-size: 10pt;
	}
		
#RHS{
	max-width: 73vw;
	min-width: 73vw;
	transform: translate(25vw, 6vh);
	}
	
/*artwork info*/
.label{
	display: block;
	padding-bottom: 5pt;
	}
		
.para{ /*writeup*/
	width: auto;
	display: block;
	padding-top: 15pt;
	}	


.info{ /*extra info*/
	margin: auto;
	font-size: 9pt;
	opacity: 0.5;
	}
		
#title{ /*artwork title*/
	color: black;
	font-weight: 500;
	}
	
.label a:hover{
	font-size: 10.2pt;
	}
	
.para a:hover{
	font-size: 10.2pt;
	}
	
/*images*/
.gallery{
	max-width: 95vw;
	height: 90vh;
	text-align: center;
	margin: auto;
	}

img{
	max-width: 90%;
	max-height: 85vh;
	width: auto;
	margin: auto;
	padding-top: 5pt;
	}

.captions{
	font-size: 9pt;
	margin: 0;
	}

.credits{
	font-size: 9pt;
	opacity: 0.5;
	padding: 0;
	padding-left: 5%;
	margin: 0;
	}

