/*columns*/
.columns{
	max-height: 95vh;
	height: 90vh;
	display: block;
	position: fixed;
	font-size: 14pt;
	overflow: scroll;
	top: 0vh;
	}
	
#LHS{
	/*background-color: pink;*/
	max-width: 25vw;
	min-width: 25vw;
	transform: translate(0vw, 7vh);
	}
		
#RHS{
	/*background-color: pink;*/
	max-width: 75vw;
	min-width: 75vw;
	transform: translate(25vw, 7vh);
	}
	
/*info*/
.info{ /*text*/
	text-align: justify;
	width: 85%;
	margin: auto;
	}
	
.label{
	min-height: 35vh;
	position: sticky;
	top: 0;
	left: 0;
	display: block;
	background-color: white;
	}

h2{ /*artwork title*/
	font-style: italic;
	font-weight: 600;
	font-size: 13pt;
	margin: auto;
	padding-top: 25vh;
	}
	
h3{ /*artwork info*/
	text-decoration: none;
	font-weight: 400;
	font-size: 12pt;
	margin: auto;
	}

#para{
	font-size: 11pt;
	width: 95%;
	display: none;
	}	
 	
/*images*/
.gallery{
	max-width: 95%;
	height: 98vh;
	text-align: center;
	overflow: visible;
	margin: auto;
	padding: 0;
	}

img{
	max-width: 90%;
	height: auto;
	margin: auto;
	padding-top: 2pt;
	}
	
.captions{
	font-size: 9pt;
	text-align: left;
	padding-left: 5%;
	margin: 0;
	}

.credits{
	font-size: 8pt;
	opacity: 0.7;
	padding: 0;
	margin: 0;
	}
	
/*button*/
button{
	background-color: black;
	color: black;
	opacity: 0.3;
	text-align: center;
	max-height: 15pt;
	width: 20vw;
	margin: auto;
	}
	
button:hover{
	opacity: 0.8;
	color: white;
	}
	
#button{
	display: block;
	}
