/*columns*/
.columns{
	max-height: 95vh;
	height: 90vh;
	display: block;
	position: fixed;
	font-size: 14pt;
	overflow: scroll;
	top: 0vh;
	}
	
#LHS{
	max-width: 25vw;
	min-width: 25vw;
	transform: translate(0vw, 7vh);
	}
		
#RHS{
	max-width: 73vw;
	min-width: 73vw;
	transform: translate(25vw, 7vh);
	}
	
/*info*/
.info{ /*text*/
	width: 85%;
	margin: auto;
	}
	
.label{
	min-height: 35vh;
	position: sticky;
	top: 0;
	left: 0;
	display: block;
	background-color: white;
	}

h2{ /*artwork title*/
	font-style: italic;
	font-weight: 600;
	font-size: 13pt;
	margin: auto;
	padding-top: 25vh;
	}
	
h3{ /*artwork info*/
	text-decoration: none;
	font-size: 11pt;
	margin: auto;
	}

#para{
	text-align: justify;
	font-size: 11pt;
	width: 95%;
	display: none;
	}	
 	
/*images*/
.gallery{
	max-width: 95vw;
	height: 95vh;
	text-align: center;
	overflow: scroll;
	margin: auto;
	padding: 0;
	}

img{
	max-width: 90%;
	max-height: 85vh;
	width: auto;
	margin: auto;
	padding-top: 5pt;
	}

.captions{
	font-size: 9pt;
	text-align: center;
	margin: 0;
	}

.credits{
	font-size: 8pt;
	opacity: 0.7;
	padding: 0;
	padding-left: 5%;
	margin: 0;
	}
	
/*button*/
button{
	background-color: rgba(242, 44, 48, 1);
	color: rgba(242, 44, 48, 1);
	opacity: 0.1;
	text-align: center;
	height: 7pt;
	width: 20vw;
	margin: auto;
	}
	
button:hover{
	background-color: rgba(242, 44, 48, 0.3);
	color: rgba(0, 0, 0, 0.8);
	height: 15pt;
	}
	
#button{
	display: block;
	}

/* Use a media query to add a breakpoint at 1080px: */
@media screen and (max-width: 1080px) {

#LHS{
	max-width: 20vw;
	min-width: 20vw;
	transform: translate(0vw, 3vh);
	}
		
#RHS{
	max-width: 78vw;
	min-width: 78vw;
	transform: translate(23vw, 3vh);
	}
	
.gallery{
	max-width: 95vw;
	height: 90vh;
	}

/*button*/
button{
	display: none;
	}
	
.info{ /*text*/
	width: 95%;
	text-align: left;
	}
	
.label{
	min-height: 10vh;
	max-height: auto;
	background-color: magenta;
	}

h2{ /*artwork title*/
	font-weight: 400;
	font-size: 2.3vw;
	padding-top: 5vh;
	padding-bottom: 7pt;
	}
	
h3{ /*artwork info*/
	font-weight: 300;
	font-size: 2vw;
	}

#para{
	font-size: 2vw;
	width: 95%;
	display: block;
	text-align: left;
	}	
}