/*columns*/
.columns{
	height: auto;
	display: block;
	overflow: scroll;
	width: 100%;
	}
	
#LHS{
	max-width: 100vw;
	min-width: 100vw;
	top: 5vh;
	display: block;
	text-align: left;
	}
		
#RHS{
	max-width: 100vw;
	min-width: 100vw;
	display: block;
	text-align: center;
	}
	
/*info*/
.info{ /*text*/
	width: 85%;
	margin: auto;
	}
	
.label{
	height: auto;
	position: sticky;
	top: 0;
	left: 0;
	display: block;
	text-align: left;
	}

h2{ /*artwork title*/
	font-style: italic;
	font-weight: 400;
	font-size: 3vw;
	margin: auto;
	padding-top: 3vh;
	text-align: left;
	}
	
h3{ /*artwork info*/
	text-decoration: none;
	font-size: 1.7vw;
	font-weight: 200;
	margin: auto;
	text-align: left;
	}

#para{
	text-align: justify;
	font-size:: 8pt;
	font-weight: 200;
	width: 95%;
	display: block;
	}	
 	
/*images*/
.gallery{
	max-width: 100vw;
	height: auto;
	text-align: center;
	overflow: scroll;
	margin: auto;
	padding-bottom: 5vh;
	}

img{
	max-width: 90%;
	max-height: 85vh;
	width: auto;
	margin: auto;
	padding-top: 5pt;
	}

.captions{
	font-size: 1.3vw;
	text-align: center;
	margin: 0;
	}

.credits{
	font-size: 1vw;
	opacity: 0.7;
	padding: 0;
	padding-left: 1vw;
	margin: 0;
	}
	
/*button*/
button{
	display: none;
	}
	
button:hover{
	display: none;
	}
	
#button{
	display: none;
	}
