/*columns*/
.columns{
	display: block;
	height: auto;
	width: 98vw;
	overflow: scroll;
	}
	
#LHS{
	display: block;
	width: 85vw;
	margin: auto;
	text-align: left;
	font-size: 8pt;
	transform: translate (5vw, 0vh);
	}
		
#RHS{
	display: block;	
	width: 98vw;
	text-align: center;
	font-size: 7pt;
	transform: translate (5vw, 0vh);
	}
	
/*artwork info*/
.label{
	display: block;
	padding-top: 5vh;
	padding-bottom: 5pt;
	}
		
.para{ /*writeup*/
	width: auto;
	display: block;
	padding-top: 15pt;
	}	


.info{ /*extra info*/
	margin: auto;
	font-size: 7pt;
	opacity: 0.5;
	}
		
#title{ /*artwork title*/
	color: black;
	font-weight: 500;
	}
	
/*images*/
.gallery{
	text-align: center;
	margin: auto;
	padding-bottom: 5vh;
	}

img{
	max-height: 85vh;
	max-width: 85vw;
	margin: auto;
	padding-top: 5pt;
	}

.multiple{
	display: block;
	width: 100%;
	margin: auto;
	}
	
.captions{
	margin: 0;
	}

.credits{
	opacity: 0.5;
	padding: 0;
	padding-left: 5%;
	margin: 0;
	}
