/*columns*/
/*.columns{
	height: 90vh;
	max-height: 90vh;
	display: block;
	position: fixed;
	font-size: 14pt;
	overflow: scroll;
	top: 0vh;
	bottom: 0vh;
	}*/

/*contact*/
.contact{
	width: 98vw;
	height: 90vh;
	transform: translate(0vw, 6vh);
	text-decoration: underline;
	font-size: 2vh;
	max-font-size: 14pt;
	min-font-size: 12pt;
	opacity: 0.8;
	display: flex;
   	justify-content: center;
    	align-items: center;
	}

#contact{
	padding: 30vw;
	}
	
#contact:hover{
	font-style: italic;
	color: grey;
	}

a{
 	text-decoration: none;
 	color: black;
 	}
	
/* Use a media query to add a breakpoint at 1080px: */
@media screen and (max-width: 1080px) {
.columns{
	width: 100vw;
	height: 90vh;
	max-width: 99vw;
	max-height: 90vh;
	height: auto;
	text-align: center;
	padding: 0;
	}

#RHS{
	display: block;
	margin: auto;
	transform: translate(0vw, -3vh);
	}

/*contact*/
.contact{
	width: 98vw;
	height: 90vh;
	transform: translate(0vw, 6vh);
	text-decoration: underline;
	font-size: 2vh;
	max-font-size: 12pt;
	opacity: 0.8;
	display: flex;
	text-align: center;
    align-items: center;
	}

#contact{
	padding: 30vw;
	}
