/*columns*/
.columns{
	height: 90vh;
	max-height: 90vh;
	display: block;
	position: fixed;
	font-size: 14pt;
	overflow: scroll;
	top: 0vh;
	bottom: 0vh;
	}
		
#MHS{
	width: 50vw;
	height: 10vh;
	transform: translate(25vw, 40vh);
	}
 	
a{
 	text-decoration: none;
 	color: black;
 	}

/*contact*/
.contact{
	text-decoration: underline;
	font-size: 2vh;
	max-font-size: 14pt;
	min-font-size: 12pt;
	opacity: 0.8;
	display: flex;
    justify-content: center;
    align-items: center;
	}
	
#contact:hover{
	font-style: italic;
	color: grey;
	}
	
/* Use a media query to add a breakpoint at 1080px: */
@media screen and (max-width: 1080px) {
.columns{
	width: 100vw;
	height: 90vh;
	max-width: 99vw;
	max-height: 90vh;
	height: auto;
	text-align: center;
	padding: 0;
	}

#RHS{
	display: block;
	margin: auto;
	transform: translate(0vw, -3vh);
	}

/*contact*/
.contact{
	padding: 25vh 0;
	font-size: 4vw;
}
