/*columns*/
.columns{
	height: 90vh;
	max-height: 90vh;
	display: block;
	position: fixed;
	overflow: scroll;
	top: 0vh;
	bottom: 0vh;
	}
	
#LHS{
	max-width: 33vw;
	min-width: 33vw;
	transform: translate(0vw, 7vh);
	}

/*profile*/
.profile{
	max-width: 95%;
	margin: auto;
	padding: 5vw 4vw;
	}
	
.para{
	text-align: justify;
	}	
 	
.contact{
	font-size: 10pt;
	opacity: 0.5;
	}
 	
.cv{
	font-size: 10pt;
	opacity: 0.5;
	}
	
.contact a:hover{
	font-size: 10.2pt;
	}
	
.cv a:hover{
	font-size: 10.2pt;
	}
	

/* Use a media query to add a breakpoint at 10800px: */
@media screen and (max-width: 1080px) {

.columns{
	height: auto;
	display: block;
	overflow: scroll;
	width: 96vw;
	text-align: center;
	}
	
#LHS{
	max-width: 96vw;
	min-width: 96vw;
	overflow: auto;
	display: block;
	}
		    
 	  
