html {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/*nav bar*/
.navspot a{
	color: black;
	text-decoration: none;
	}
	
.navspot:hover {
	opacity: 0.55;
	font-style: italic;
	font-size: 13pt;
	font-weight: 400;
	}

.navbar{
	list-style-type: none;
	position: fixed;
	padding:0.5vh;
	left: 0;
	top: 0;
	width: 100vw;
	height: 4vh;
	min-height: 20pt;
	text-align: center;
	z-index: 1;
	}

.navspot{
	display: inline;
	margin: 0;
	padding:0;
	color: black;
	font-size: 12pt;
	width: 10vw;
	float: left;
	}
	
.namespot a{
	color: black;
	text-decoration: none;
	}
	
.namespot{
	display: inline;
	margin: 0;
	padding:0;
	color: black;
	font-size: 18pt;
	width: 64.5vw;
	padding-left: 4.5vw;
	float: left;
	text-align: left;
	}
	
/*footer*/
footer {
	position: fixed;
	width: 100vw;
	text-align: center;
	font-size: 10pt;
	height: 3vh;
	min-height: 15pt;
	padding: 0.1vh;
	bottom: 0;
	right: 0;
	padding: 0.5vh;
	}
	
/*scrollbar*/
::-webkit-scrollbar { /* width */
	width: 1vw;
	height: 2vh;
	}

::-webkit-scrollbar-track { /* Track */
	background: white;
	/*rgba(245, 122, 122, 0.3); /*cool pink*/
	}
 
::-webkit-scrollbar-thumb { /* Handle */
	background: rgba(0, 0, 0, 0.08);
	/*rgba(242, 44, 48, 0.05); /*warm pink*/
	}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
	background: rgba(242, 44, 48, 0.1); /*warm pink*/
	}

/*
font-family: 'Karla', sans-serif;**
font-family: 'Nunito', sans-serif;*
font-family: 'Source Sans Pro', sans-serif;*
font-family: 'Poiret One', cursive;
*/
/*body*/
body{
	font-family: 'Poiret One', cursive;
	font-weight: 100;
	padding: 0;
	cursor: crosshair;
	}

/* Use a media query to add a breakpoint at 480px: */
@media screen and (max-width: 480px) {
.navbar{
	font-size: 12px;
    }   
    
footer{
	font-size: 10px;
	}
	
.body{
	font-weight: 200;
	font-size: 9pt;
	min-font-size: 10pt;
	}
}
