/*columns*/
.columns{
	max-width: 99vw;
	min-width: 99vw;
	height: auto;
	display: block;
	position: absolute;
	font-size: 14pt;
	overflow: auto;
	top: 0vh;
	margin: auto;
	}
	
#MHS{
	}
			
/*list of works*/
.worklist{
 	text-align: center;
 	display: block;
 	margin: 0;
	padding: 25vh 0;
 	font-weight: 600;
 	max-height: 95vh;
 	overflow: scroll;
 	}
 	
.wktitle{
 	display: block;
 	padding: 5pt;
 	opacity: 0.8;
 	position: relative;
 	}
 	
a{
 	text-decoration: none;
 	color: black;
 	}
 	
.wklink:hover{
 	font-style: italic;
 	opacity: 0.3;
 	z-index: 1;
 	}
 	
/*pictures*/
.wktitle .pic {
	display: none;
	width: 300px;
	height: 300px;
	opacity:0.8;
	/* Position the wktitle */
	position: absolute;
	z-index: -3;
	}

.wktitle:hover .pic {
	display: block;
	}

img{
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
	}
	
.wktitle #pic1{	
	position: absolute;
	top: -40%;
	left: 80%;
	}
.wktitle #pic2{	
	position: absolute;
	top: -40%;
	left: 210%;
	}
.wktitle #pic3{	
	position: absolute;
	top: -50%;
	left: 70%;
	}
.wktitle #pic4{	
	position: absolute;
	top: -30%;
	left: 210%;
	}
.wktitle #pic5{	
	position: absolute;
	top: -60%;
	left: 80%;
	}
.wktitle #pic6{	
	position: absolute;
	top: -50%;
	left: 180%;
	}
.wktitle #pic7{	
	position: absolute;
	top: -80%;
	left: 60%;
	}
.wktitle #pic8{	
	position: absolute;
	top: -60%;
	left: 200%;
	}
