/*columns*/
.columns{
	max-width: 99vw;
	min-width: 99vw;
	height: 95vh;
	display: block;
	position: absolute;
	font-size: 14pt;
	top: 0vh;
	margin: auto;
	}
	
#MHS{
	}
			
/*list of works*/
.worklist{
 	text-align: center;
 	display: block;
 	margin: 0;
	padding: 20vh 0;
 	font-weight: 400;
 	max-height: 95vh;
 	overflow: visible;
	z-index: 1; 
 	}
 	
.wktitle{
 	display: block;
 	padding: 5pt;
 	opacity: 0.8;
 	position: relative;
 	font-size: 20pt;
 	}
 	
a{
 	text-decoration: none;
 	color: black;
 	}
 	
.wklink:hover{
 	font-style: italic;
 	opacity: 0.3;
 	z-index: 1;
 	}
 	
/*pictures*/
.wktitle .pic {
	opacity: 0;
	transition: opacity 0.6s;
	width: 300px;
	height: 300px;
	/* Position the wktitle */
	position: absolute;
	display: none;
  	margin-left: auto;
  	margin-right: auto;
	z-index: -3;
	}

.wktitle:hover .pic {
	display: block;
	opacity: 0.8;
	}

img{
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
	}
	
.wktitle #pic1{	
	position: absolute;
	top: -20%;
	left: 80%;
	}
.wktitle #pic2{	
	position: absolute;
	top: -20%;
	right: -80%;
	}
.wktitle #pic3{	
	position: absolute;	
	top: -20%;
	left: 80%;
	}
.wktitle #pic4{	
	position: absolute;
	top: -20%;
	right: -80%;
	}
.wktitle #pic5{	
	position: absolute;	
	top: -20%;
	left: 80%;
	}
.wktitle #pic6{	
	position: absolute;	
	top: -20%;
	right: -80%;
	}
.wktitle #pic7{	
	position: absolute;	
	top: -20%;
	left: 80%;
	}
.wktitle #pic8{	
	position: absolute;	
	top: -20%;
	right: -80%;
	}
	
/* Use a media query to add a breakpoint at 1080px: */
@media screen and (max-width: 1080px) {
.worklist{
	padding: 20vh 0;
 	font-weight: 500;
 	max-height: 90vh;
 	}
 	
 .wktitle{
	font-size: 5vw;
	}
}
